@import url('https://use.typekit.net/mec8uoh.css');

body {
  font-family: 'proxima-nova', sans-serif;
  font-size: 1em;
}

h1 {
  font-weight: bold;
  color: #7529f5;
}

.card-title {
  color: #7529f5;
  font-weight: bold;
}

.list-group-item {
  font-weight: bold;
}

.badge-dark {
  background-color: #7529f5;
}
